/*--------------------------------------*/
/*        SIDEBAR HEADER                */
/*--------------------------------------*/

.side-bar {
  /*position: fixed;*/
  padding: 10px;
  /*z-index: 2;*/
  /*height: 100%;*/
  /*background: rgb(215, 215, 215);*/
  /*box-shadow: 15px 0px 48px -3px rgba(194,194,194,0.89);*/
}

.site-heading-container {
  text-align: center;
}

.site-heading {
  font-size: 8em;
  margin: 10px 0 10px 0;
  font-family: 'Roboto Mono', monospace;
}

.site-heading a {
  color: black;
}


/*--------------------------------------*/
/*        SOCIAL ICONS                  */
/*--------------------------------------*/

.icons-container {
  margin-top: 20px;
}

.icons-container ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.icons-container ul li {
  display: inline-block;
  font-size: 2.5em;
  padding: 5px;
  margin: 5px;
}
.icons-container ul li a { color: black; }
.icons-container ul li a:hover { color: #92F52F; }


/*--------------------------------------*/
/*        RECENT POSTS                  */
/*--------------------------------------*/

.recent-posts-container {
  text-align: right;
  padding: 10px;
}

.recent-posts-title {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: black;
}

.search-input {
  width: auto;
  border: none;
  background-color: #fef1f1;
  padding: 5px;
}

.search-submit {
  width: auto;
  /*padding: 10px 20px 10px 20px;*/

  border: none;
  color: black;
  font-weight: normal;
  background-color: #92f52f;
}

.widget_archive ul li {
  display: inline-block;
}

.widget_categories ul li {
  display: inline-block;
}
