/*--------------------------------------*/
/*              HOME                    */
/*--------------------------------------*/

.home-container {}

/*--------------------------------------*/
/*              POSTS LOOP              */
/*--------------------------------------*/

.post-container {
  padding: 10px;
}

.post-thumbnail img {
  max-width: 100%;
}

.post-title {}

/*--------------------------------------*/
/*              SINGLE POST             */
/*--------------------------------------*/

/*loading the background image in php file as the thumbnail*/
.single-post-thumbnail {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.single-post-header {
  margin-top: 20px;
  background-color: rgb(47, 47, 47);
  padding: 10px;
  color: white;
}

.single-post-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-content {

}

.post-content p img {
  text-align: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
