
{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FMTC</title>

    <!-- Bootstrap -->
    <link href="{% static 'frameworks/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,200' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static "frameworks/font-awesome-4.7.02/css/font-awesome.min.css" %}">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static "posts/css/global.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "sidebar/css/sidebar.css" %}">

    {% block styles %}
    {% endblock %}

  </head>
  <body>
      <div class="content container">
          <div class="row">

            <div id="sidebar">
              <div class="col-xs-12 col-sm-4">
                {% include 'sidebar/sidebar.html' %}
              </div>
            </div>

            <div class="col-xs-12 col-sm-8 home-container">
              {% block content %}
              {% endblock %}
            </div>
          </div>
      </div>
  </body>

  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'frameworks/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
  </footer>

</html>
